{% extends 'email/emailForgotPasswordBase.html.twig' %}
{% block content %}
    <container>
        <row class="top">
            <columns>
                <spacer size="35"></spacer>
                <h1>
                    <center>
                        Hello {{ user.username }},
                    </center>
                </h1>
                <spacer size="10"></spacer>
            </columns>
        </row>
        <row class="main">
            <columns>
                <p class="text-left" style="line-height: 1.6;"  >

                    Your request to reset your password has been taken into account. <br>

                    You will be able to choose a new password by clicking on the following link. <br>

                    This Password reset link expires in 24 hours.
                </p>
                <br>
                {# Start Vertical space #}
                <table class="spacer">
                    <tbody>
                    <tr>
                        <td height="50" style="font-size:50px;line-height:50px;">&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
                {# End Vertical space #}

                <center> <a class="big-button" href="{{ url_reset_password }}{{ token }} ">CHANGE PASSWORD</a> </center>

                <spacer size="40"></spacer>
            </columns>
        </row>
    </container>
{% endblock %}
